div{
    background-color: rgb(243, 224, 196);
    width: 100%;
    padding: 20px;
    margin: 20px;

}
body{
    background: radial-gradient( red ,black);
}
h1{
    color: aliceblue;
}
pre{
    font-weight: bold;
    font-size: 1.2em;
}
h3{
    font-size: 2em;
}